*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;
    font-size: 1rem;
    line-height: 1.5rem;
}

.container {
    width: calc(100% - 30px);
    max-width: 1400px;
    margin: 0 auto;
}

a, button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
}

h1 {
    font-size: 3rem;
}
.page_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    flex-grow: 1;
}
/*==============================*/
header {
    background-color: lightblue;
    height: 100px;
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 2.6rem;
    font-weight: 700;
}
#logo a {
    text-decoration: none;
}

#main_menu ul {
    display: flex;
    justify-content: flex-end;
}

#main_menu ul li {
    margin: 0 10px;
}

main {
    padding: 80px 0;
}

footer {
    background-color: #888;
    height: 120px;
}


.form_wrap {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.form_elem {
    margin-bottom: 20px;
}
.form_elem label {
    display: block;
    margin-bottom: 5px;
}

input[type=text], 
input[type=email], 
input[type=password], 
select,
textarea {
    width: 100%;
    height: 40px;
    border: 2px solid purple;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #232323;
}
textarea {
    height: 150px;
    padding: 6px 10px;
    line-height: 1.5rem;
    resize: none;
}

input[type=radio],
input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type=radio]+label,
input[type=checkbox]+label {
    position: relative;
    padding-left: 30px;
    display: inline-block;
}
input[type=radio]+label::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid purple;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
input[type=radio]+label::after {
    content: '';
    display: block;
    width: 11px;
    height: 11px;
    background-color: purple;
    position: absolute;
    border-radius: 50%;
    opacity: 0;
    transition: all .2s ease;
    left: 7px;
    top: 7px;
    z-index: 2;
}
input[type=radio]:checked+label::after {
    opacity: 1;
}

input[type=radio]:disabled+label::before {
    opacity: 0.8;
    background-color: #efefef;
    border-color: gray;
}
input[type=radio]:checked:disabled+label::after {
    opacity: 1;
    background-color: gray;
}


input[type=checkbox]+label::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    border: 2px solid purple;
    background-color: purple;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
input[type=checkbox]+label::after {
    content: '';
    display: block;
    width: 11px;
    height: 6px;
    border-left:2px solid #fff;
    border-bottom:2px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    opacity: 0;
    transition: all .2s ease;
    left: 7px;
    top: 8px;
    z-index: 2;
}
input[type=checkbox]:checked+label::after {
    opacity: 1;
}

input[type=checkbox]:disabled+label::before {
    opacity: 0.8;
    background-color: #efefef;
    border-color: gray;
}
input[type=checkbox]:checked:disabled+label::after {
    opacity: 1;
    background-color: gray;
}

.fake_file_wrap {
    position: relative;
    height: 40px;
    line-height: 40px;
}

.fake_file {
    width: 100%;
    height: 100%;
    border: 2px solid purple;
    background-color: #fff;
    border-radius: 4px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #232323;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.fake_file_wrap input {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.jq-selectbox {
    width: 100%;
}

.jq-selectbox__select {
	height: 40px;
	padding: 0 45px 0 10px;
	border: 2px solid purple;
	border-bottom-color: purple;
	border-radius: 4px;
	background: #FFF;
	box-shadow: none;
	font: 16px/36px Arial, sans-serif;
	color: #232323;
	text-shadow: none;
}

.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 15px;
	right: 10px;
	width: 0;
	height: 0;
	border-top: 7px solid #232323;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
}

.jq-selectbox__trigger {
    border-left: none;
}

.jq-selectbox.focused .jq-selectbox__select {
	border: 2px solid purple;
}


.jq-selectbox li:hover {
	background-color: purple;
}

/* 
.jq-selectbox__select .jq-selectbox__trigger-arrow {

} */