* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid red;
    /* outline: inset 2px #000; */
    /* border: 1px solid transparent; */
    /* padding-top: 1px; */
}

.card {
    float: left;
    padding: 20px;
    border: 2px solid red;
    width: 400px;
    text-align: center;
}

section {
    padding: 100px 0;
    background-color: yellowgreen;
}

.clerfix:after {
    content: "";
    display: block;
    clear: both;
    font-size: 0;
    line-height: 0;
}

.cart_1 {
    margin-right: 50px;
}

.big_pic {
    display: block;
    width: 250px;
    height: 250px;
    background-color: #efefef;
    margin-bottom: 10px;
    float: left;
}

.fleft {
    float:left;
    margin-right: 30px;
}

.fright {
    float: right;
    margin-left: 30px;
}

.card_3 {
    float: right;
}
/* 

a:hover {
    color: aquamarine;
}

a:focus {
    color: bisque;
}


.container .card:first-child {
    margin-top: 49px;
}

h1 {
    margin-bottom: 28px;
}

p {
    margin-bottom: 20px 0;
} 

span {
    display: inline-block;
    padding: 20px;
    border: 2px solid blue;
    margin: 50px;
    width: 400px;
    height: 200px;

    a, button, input, textarea, select {
    outline: 0 none;
}

input:focus {
    border: 3px solid blue;
}

input {
    height: 60px;
    border-radius: 20px;
}

a {
    color: aliceblue;
    text-decoration: none;
}
}

*/

.card {
    /* display: inline; */
    padding: 20px;
    border: 2px solid red;
    margin: 50px;
    width: 400px;
    text-align: center;
}


.second {
    margin-top: 200px;
}

.pic {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-color: #efefef;
}   

h3 {
    margin: 30px 0;
}

p {
    margin: 30px 0;
}

.card *:last-child {
    margin-bottom: 0;
}