*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    transition: all .2s ease;
}

#sq {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    /* position: absolute; */
    position: relative;
    left: 100px;
    top: 100px;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    /* animation: spin 2s infinite; */
    /* animation: spin 4s; */
    animation: spin 4s linear;
}

/* @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/* @keyframes spin {
    from {
        transform: rotate(0deg);
    }
    50% {
        background-color: tomato;
    }
    to {
        background-color: tomato;
        transform: rotate(360deg);
    }
} */

/* @keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.2) rotate(180deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
} */

/* @keyframes spin {
    from {
        transform: scale(1) rotate(0deg) translateX(0);
    }
    25% {

    }
    50% {
        transform: scale(1.2) rotate(180deg) translateX(400px);
    }
    to {
        transform: scale(1) rotate(360deg) translateX(200px);
    }
} */

/* @keyframes spin {
    from {
        transform: scale(1) translateX(0);
        font-size: 20px;
    }
    30% {
        transform: scale(1.2) translateX(400px);
        font-size: 30px;
    }
    60% {
        transform: scale(1.2) translateX(600px);
    }
    to {
        transform: scale(1) translateX(0);
        font-size: 20px;
    }
} */

@keyframes spin {
    from {
        transform: scale(1) translateX(0);
        font-size: 20px;
        background-color: red;
        
    }
    50% {
        transform: scale(1.2) translateX(600px);
        font-size: 30px;
        background-color: bisque;
    }
    
    to {
        transform: scale(1) translateX(0);
        background-color: red;
    }
}