:root {
    --text-color: #544837;
    --orange-color: #FF9900;
}

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    width: 90%;
    /* border: 1px solid red; 
    height: 100%; */
}

header {
    padding: 35px 0;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

#logo {
    float: left;
    margin-top: 8px;
}

.btn_wrap {
    float: right;
    margin-left: 30px;
    text-align: right;
}

.main_menu {
    float: right;
    margin-top: 10px;
}

.main_menu ul {
    list-style: none;
    text-align: right;
}

.main_menu ul li {
    display: inline-block;
}

.main_menu ul li a {
    color: #2F281E;
    font-size: 14px;
    line-height: 28px;
    margin: 0 12px;
    text-decoration: none;
}

.main_menu ul li a:hover,
.main_menu ul li a.active {
    text-decoration: underline;
    color: var(--orange-color);
}

.btn_wrap .btn:first-child {
    margin-right: 14px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 0 41px;
    height: 53px;
    line-height: 53px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    transition: all .2s ease;
}

header .btn {
    padding: 0 24px;
    height: 46px;
    line-height: 46px;
    font-weight: 600;
}

.btn.white {
    background-color: #fff;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.btn.white:hover {
    background-color: #173A56;
    border-color: #173A56;
    color: #fff;
}

.btn.orange {
    background-color: var(--orange-color);
    color: #fff;
    border: 1px solid var(--orange-color);
}

.btn.orange:hover {
    background-color: #fff;
    color: var(--orange-color);
}