*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  width: 95%;
  width: calc(100% - 30px);
  border: 2px solid blue;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content {
  width: 80%;
  margin: 0 auto;
  border: 2px solid tomato;
}

img {
  width: 100%;
}

header {
  height: 60px;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: lightgreen;
  padding-top: 10px;
}
header .container {
  height: 40px;
}

footer {
  height: 30px;
  background-color: #ddd;
}

main {
  height: calc(100vh - 90px);
  margin-top: 60px;
}

.hamb_menu {
  display: none;
}