<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">   
    <link rel="stylesheet" href="assets/css/style.min.css">
</head>
<body>

    <div id="app">
        <div class="container pt-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <form id="search_form" @submit.prevent="searchMovies">
                                <div class="row">
                                    <div class="col-4">
                                        <input type="search" class="form-control" placeholder="Enter movie title" v-model="search">
                                    </div>
                                    <div class="col-4">
                                        <select v-model="selectedType" class="form-select">
                                            <option disabled value="">Please select one</option>
                                            <option value="all" >All</option>
                                            <option value="movie" >Movie</option>
                                            <option value="series">Series</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" placeholder="Enter year" v-model="year">
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-info">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-4">
                            <button type="button" class="btn btn-warning" @click="showFavorites">My Favorite</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Movie list</h3>
                </div>
                <div class="card-body row">
                    <template v-for="movie in movieListWithFavorite" :key="movie.imdbID">
                        <movie-item :movie="movie" @get-movie="getMovieInfo" @set-favorit="setFavorites"/>
                    </template>
                    <div class="row justify-content-md-center">
                        <div class="col-2 col-md-auto">
                            <button :disabled="ifDisabledPrevButton" type="button" class="btn btn-light" @click="goToPage(page-1)">  Previous page </button>
                        </div>
                        <div class="col-2 col-md-auto">
                            <button :disabled="ifDisabledPrevButton" type="button" class="btn btn-light" @click="goToPage(page-4)">  {{ page-4 }} </button>
                        </div>
                        <div class="col-2 col-md-auto">
                            <button :disabled="ifDisabledPrevButton" type="button" class="btn btn-light" @click="goToPage(page-3)">  {{ page-3 }} </button>
                        </div>
                        <div class="col-2 col-md-auto">
                            <button :disabled="ifDisabledPrevButton" type="button" class="btn btn-light" @click="goToPage(page-2)">  {{ page-2 }} </button>
                        </div>
                        <div class="col-2 col-md-auto">
                            <button :disabled="ifDisabledPrevButton" type="button" class="btn btn-light" @click="goToPage(page-1)">  {{ page-1 }} </button>
                        </div>
                        <div class="col-4 col-md-auto line_h">
                            Page: <b>{{page}}</b> of {{ totalPages }}
                        </div>
                        <div class="col-1 col-md-auto">
                            <button :disabled="ifDisabledNextButton" type="button" class="btn btn-light" @click="goToPage(page+1)"> {{ page+1 }} </button>
                        </div>
                        <div class="col-1 col-md-auto">
                            <button :disabled="ifDisabledNextButton" type="button" class="btn btn-light" @click="goToPage(page+2)"> {{ page+2 }} </button>
                        </div>
                        <div class="col-1 col-md-auto">
                            <button :disabled="ifDisabledNextButton" type="button" class="btn btn-light" @click="goToPage(page+3)"> {{ page+3 }} </button>
                        </div>
                        <div class="col-1 col-md-auto">
                            <button :disabled="ifDisabledNextButton" type="button" class="btn btn-light" @click="goToPage(page+4)"> {{ page+4 }} </button>
                        </div>
                        <div class="col-1 col-md-auto">
                            <button :disabled="ifDisabledNextButton" type="button" class="btn btn-light" @click="goToPage(page+1)"> Next page </button>
                        </div>
                        <div class="col-2 col-md-auto">
                            <button :disabled="ifDisabledNextButton" type="button" class="btn btn-light" @click="goToPage(totalPages)"> {{totalPages}} </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal_overlay" v-if="showModal">
            <div class="my_modal">

                <div class="info_container mb-4">
                    <div class="img_container mb-4">
                        <img :src="movieInfo.Poster" class="card-img-top pt-4" :alt="movieInfo.Title">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"> {{ movieInfo.Title }} </h4>
                        <p class="card-text"><span class="bold">Year: </span>{{ movieInfo.Year }}</p>
                        <p><span class="bold">Awards: </span>{{ movieInfo.Awards }}</p>
                        <p><span class="bold">Rated: </span>{{ movieInfo.Rated }}</p>
                        <p><span class="bold">Released: </span>{{ movieInfo.Released }}</p>
                        <p><span class="bold">Runtime: </span>{{ movieInfo.Runtime }}</p>
                        <p><span class="bold">Genre: </span>{{ movieInfo.Genre }}</p>
                        <p><span class="bold">Director: </span>{{ movieInfo.Director }}</p>
                        <p><span class="bold">Writer: </span>{{ movieInfo.Writer }}</p>
                        <p><span class="bold">Actors: </span>{{ movieInfo.Actors }}</p>
                        <p><span class="bold">Plot: </span>{{ movieInfo.Plot }}</p>
                        <p><span class="bold">Language: </span>{{ movieInfo.Language }}</p>
                        <p><span class="bold">Country: </span>{{ movieInfo.Country }}</p>
                        
                        <p><span class="bold">Ratings:</span></p>
                        <li v-for="(rating, index) in movieInfo.Ratings" :key="index">
                            {{ rating.Source }} - {{ rating.Value }}
                        </li>
                    
                    </div>
                </div>
                <button type="button" class="btn btn-info" @click="showModal=false">Close</button>
            </div>
        </div>

        <div class="modal_overlay" v-if="showFavoritesModal">
            <div class="my_modal">
                <div class="info_container mb-4">
                    <div class="card-body">
                        <h3>My favorites:</h3>
                        <div class="row">
                            <template v-for="movie in myFavorite" :key="movie.imdbID">
                                <movie-item :movie="movie" @get-movie="getMovieInfo" @set-favorit="setFavorites"/>
                            </template>
                        </div>
                    </div>
                </div>
            <button type="button" class="btn btn-info" @click="showFavoritesModal=false">Close</button>
            </div>
        </div>

    </div>


    <template id="movieItem">
        <div class="card col-3 mb-4">
            <img :src="movie.Poster" class="card-img-top pt-4" :alt="movie.Title" v-if="movie.Poster !== 'N/A'">
            
            <img src="https://via.placeholder.com/420x630" class="card-img-top pt-4" :alt="movie.Title" v-else>
            <!-- TODO: фото заглушку -->
            
            <div class="card-body">
                <h5 class="card-title"> {{ movie.Title }} </h5>
                <!-- <h2 v-if="movie.inFav">123</h2> -->
                <p class="card-text"><b>Year:</b> {{ movie.Year }}</p>
                <p class="card-text"><b>Type:</b> {{ movie.Type }}</p>
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-primary me-2" @click="getMovieInfo(movie.imdbID)">Info</button>
                    </div>
                    <div class="col-6">
                        <button type="button" class="btn btn-warning" @click="setFavorites(movie.imdbID)">
                            <!-- &#9733; -->
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                :fill="movie.inFav ? '#f00' : '#fff'" width="20px" height="20px" viewbox="0 0 544.582 544.582" style="enable-background:new 0 0 544.582 544.582;"
                                xml:space="preserve">
                                <path d="M448.069,57.839c-72.675-23.562-150.781,15.759-175.721,87.898C247.41,73.522,169.303,34.277,96.628,57.839
                                C23.111,81.784-16.975,160.885,6.894,234.708c22.95,70.38,235.773,258.876,263.006,258.876
                                c27.234,0,244.801-188.267,267.751-258.876C561.595,160.732,521.509,81.631,448.069,57.839z"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </template>
    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- <script src="assets/js/axios.min.js" ></script> -->
    <script src="assets/js/vue.global.js" ></script>
    <script src="assets/js/movies.js" ></script>
</body>
</html>


<!-- :fill="movie.inFav ? '#f00' : '#fff'" -->